
<div class="container">
  <h2>Players</h2>
            
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td style="vertical-align: middle;">Thongphanh</td>
        <td style="vertical-align: middle;">Duangboudda</td>
        <td style="margin: auto"> <img src="./../assets/images/tong.jpg" alt="carss" width="100" height="100"> </td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

