<div class="container-fluid">
  <h1>Card Details</h1>

  <div class="row">
    <div class="col-xs-3 col-md-6 col-lg-4" style="background-color:white;">
         <img  src="./../assets/images/magic.png" alt="carss" width="" height="">
    </div>
    <div class="col-xs-3 col-md-6 col-lg-4" style="background-color:white;">
    <br>
      <p> Name: <p>
      <p> Id:<p>
      <p> Attack: 7777777777<p>
      <p> Defense: 55555<p>
            <p> Name: <p>
      <p> Id:<p>
      <p> Attack: 7777777777<p>
      <p> Defense: 55555<p>
    </div>
  </div>
</div>
