<p>match-history works!</p>

<div class="container">
  <h2>Match History</h2>
            
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td style="vertical-align: middle;">Mary</td>
        <td style="vertical-align: middle;">Moe</td>
        <td style="margin: auto"> <img src="https://www.tabulizer.com/images/tabulizer/demo/car.jpg" alt="carss" width="300" height="200"> </td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
