img{
  
    width: 95%;
    height: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    
}
.col-sm-2{
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}
.container-fluid{
    margin-left: 6%;
}
h1{
    margin-left: 40%;
}
